
.header-img {
    max-width: 100%;
    overflow: hidden;
}

.header-text {
    bottom: 0;
    position: absolute;
    background: rgba(39, 29, 26, 0.68);
    color: white;
    margin-bottom: 0.4em;
    padding-left: 1em;
    padding-right: 1em;
    max-width: 80%;
}

#home-button {
    float: right;
}

.form-inline > p > label {
	display: none;
}

.status-msg {
    font-style: italic;
}

.admin-panel {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #ccc;
}
