body {
    /*
     background-color: black;
    */
}

.logo {
    width: 60px;
    height: 60px;
    float: left
}

#home-button {
    float: right;
}

.form-inline > p > label {
	display: none;
}

.status-msg {
    font-style: italic;
}

.admin-panel {
    margin-top: 2em;
    padding-top: 2em;
    border-top: 1px solid #ccc;
}
