{% extends "bla/base.html" %}

{% block title %}All Events{% endblock %}

{% block card_header %}
  <h1>Laufende Events</h1>
{% endblock %}

{% block card_content %}
  <p class="card-text">Hier siehst Du alle laufenden Events. Du kannst auch ein neues Event anlegen.</p>
  <form method="GET" class="post-form form-inline" action="{% url 'event_new' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Event anlegen</button>
  </form>

{% endblock %}

{% block content %}

    {% if event_list %}
      <ul>
        {% for w in event_list %}
        <li><a href="/bla/events/{{ w.id }}/">{{ w.name }}</a></li>
        {% endfor %}
      </ul>
    {% else %}
      <p>no data</p>
    {% endif %}

{% endblock %}
