{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}title{% endblock %}</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'css/wichtel.css' %}">

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>

  <!-- datepicker -->
  <script src="//cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
  <script src="//cdn.bootcss.com/bootstrap-datetimepicker/4.17.44/js/bootstrap-datetimepicker.min.js"></script>

</head>
<body>

<div class="container">
  <div class="row" style="margin-top: 2em">
    <div class="col">
      <div class="card">
        <div class="card-header" style="position: relative">
          <img class="card-img-top header-img" src="{% static "logo.jpg" %}" alt="logo">
          <h1 class="header-text">{% block card_header %}{% endblock %}</h1>
        </div>
        <div class="card-block">
          {% block card_content %}{% endblock %}
        </div>
          {% block card_footer %}{% endblock %}
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 2em">
      {% block content %} {% endblock %}
  </div>
  <div style="height: 200px; text-align: center">
    <p><a href="{% url 'impressum' %}">Impressum</a> / <a href="{% url 'privacy' %}">Datenschutz</a> </p>
  </div>
</div>

  {% block dialogs %} {% endblock %}

  {% block js %}{% endblock %}


</body>
</html>
