{% extends "wichtel_app/base.html" %}

{% block title %}All Events{% endblock %}

{% block card_header %}

{% endblock %}

{% block card_content %}
  <p class="card-text">Hier siehst Du alle laufenden Events. Du kannst auch ein neues Event anlegen.</p>
  <form method="GET" class="post-form form-inline" action="{% url 'event_new' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Event anlegen</button>
  </form>
{% endblock %}

{% block content %}
    <div class="col"></div>
    <div class="col-10">
  <h4>Laufende Events</h4>
  {% if event_list %}
    <ul class="list-group">
      {% for e in event_list %}
      <li class="list-group-item"><a href="{% url 'event_detail' e.id %}">{{ e.name }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>no data</p>
  {% endif %}
  </div>
  <div class="col"></div>

{% endblock %}
