{% extends "wichtel_app/base.html" %}
{% load widget_tweaks %}

{% block title %}{{ participant.name }}{% endblock %}


{% block card_header %}
  <h1>{{ participant.event.name }}: {{ participant.name }}</h1>
{% endblock %}

{% block card_content %}
  <h4>Deinen Wichtel finden</h4>
  <p class="card-text">Hier kannst Du sehen, welcher Wichtel ein Geschenk von Dir bekommt.</p>
{% endblock %}

{% block card_footer %}
<div class="card-footer text-muted">
  <a href="{% url 'event_detail' participant.event.id %}">zurück zum Event</a>
</div>
{% endblock %}



{% block content %}
<div class="col"></div>
<div class="col-10">
  {% if not is_complete %}
    <p>Das Event läuft noch...<br>Wenn es abgeschlossen ist, siehst Du hier wen Du gezogen hast;)</p>
  {% elif is_authenticated %}
    <p>Dein Geschenk geht an: <b>{{ participant.assignedTo.name }}</b></p>
    <p>Hast Du schon eine Idee?</p>
  {% else %}
    {% if not try_auth %}
      <p>Bitte gib zur Authentifizierung Deine PIN ein:</p>
    {% else %}
      <p>Deine PIN war nicht korrekt. Bitte versuche es erneut:</p>
    {% endif %}

    <form method="POST" class="post-form form-inline" action="{% url 'participant_detail' participant.id %}">
      {% csrf_token %}
      {% render_field form.auth_code placeholder="PIN" autofocus="" class+="form-control" %}
      <button type="submit" class="btn save btn-primary">Submit</button>
    </form>
    {{ form_errors }}
  {% endif %}
</div>
<div class="col"></div>

{% endblock %}
